html, body { 
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: transparent;
} 

body { 
    padding-top: 65px; 
     /*padding-left: 30px; */
}

html {
	background:url(../fonts/backgroundred.jpg) center center no-repeat fixed;
	-webkit-background-size:cover;
	moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	color:#fff;
	background-color: transparent;
  background-size: 100%;
  height:100%;
  width:100%;
}

.alert,.form-tab{
	margin-top:10px
}

.app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app__header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.app__footer {
    background-color: black;
    border-top: 1px solid black;
    color:#b5191b;
}

.app__main {
    flex: 1 0 auto;
}

.agreement { }
.agreement__document {
    overflow-y: scroll;
    height: 300px;
}
.agreement__confirmtion {}
.agreement__checkbox-wrapper {
    padding: 5px;
    position: relative;
    display: inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-legend { font-size: 18px; }

.form-tab { margin-top: 10px; }

.no-margin { margin: 0; }

.tooltip.tooltip-alert-success .tooltip-inner, .tooltip.tooltip-alert-error .tooltip-inner {
    padding: 10px;
    font-size: 15px;
}

.tooltip.tooltip-alert-success .tooltip-inner {
    background-color: #dff0d8;
    color: #3c763d;
}

.tooltip.tooltip-alert-error .tooltip-inner {
    background-color: #f2dede;
    color: #a94442;
}

.tooltip.tooltip-alert-success .tooltip-arrow {
    background-color: #dff0d8;
}

.tooltip.tooltip-alert-error .tooltip-arrow {
    background-color: #f2dede;
}

.form-group .asterisk-label:after {
    content:"*";
    color:red;
}


/* Sidebar navigation */
.sidebar {
	width:15%;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #000000;
    border-right: 1px solid #000000;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding  1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  background-color: #000000;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.italic-font {
	font-style:italic;
	font-family:cursive
}

.card-container .card {
	padding:40px
}

.no-padding{
	padding:0
}

.card{
	background-color:#F7F7F7;
	padding:20px 25px 30px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:0 2px 2px rgba(0,0,0,.3);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,.3);
	box-shadow:0 2px 2px rgba(0,0,0,.3)
}

img {
	vertical-align:middle
}

a {
	color:white;
}
a:hover {
  background-color: black;
  color: #dd1d1d;
}
a:active {
  background-color: black;
  color: #dd1d1d;
}
span:hover {
  color:#dd1d1d;
}
span:active {
  color:#dd1d1d;
}

.nav>li>a:focus,.nav>li>a:hover {
	color:#fff
}

.ablackwhite {
   color: white;
   background-color: black;
}

.ablackwhite:hover {
   color: #dd1d1d;
   background-color: black;
}

.ablackwhite:active {
   color: #dd1d1d;
   background-color: black;
}

#alist a:hover{
  background-color: black;
}

#songTitle {
	text-transform:uppercase;
}
#songTitle a {
	color: black;
}

#songTitle a:hover{
	color: maroon;
	background-color: inherit;
}

.profile-img-card {
	width:96px;
	height:96px;
	margin:0 auto 10px;
	display:block;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%
}

.navbar-inverse {
	background-color:inherit
}

.circular-image {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%
}

.navbar-fixed-top {
	position:fixed
}

.black-bg {
	background-color:#000
}

.metadata{
    padding-right: 10px;
}
.textSearch {
	width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.textSearch:focus {
	width: 100%;
}

.btn-search {
	float: right;
}

.search-group {
	display:inline;
}

/* Playlist */
@import "bourbon";
$melon: #F97D75;
$black: #2E3641;
.cont {
width: 900px;
}

.scrollmenu .item {
display: inline-block;
     
    text-align: center;
    padding: 14px;
    margin: 20px;
    margin-left: 10px;
    text-decoration: none;
     background: rgba(202, 52, 53, 0.9);
     width: 100px;
     height: 100px;
    border: 4px solid #F97D75;
    border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.scrollmenu {

    overflow: auto;
    white-space: nowrap;
}
.scrollmenu .item:hover {
    background-color: #777;
    -webkit-transition:  0.5s;
    border: 4px solid #F97D75;
}


.cont input {
  border: 0;
  margin-right: 5px;
  background: transparent;
  border-bottom: 1px solid black;
  width: 150px;
  padding: 8px;
  @include transition(all .3s ease);
  

}

.delete{
	height: 30px;
	width: 30px;
	position: relative;
    left: 67px;
    top: -33px;

}

.cont button {
  background-color: #F97D75;
  border: 0;
  padding: 8px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer; 
}

.searchbar-style {
  background-color:#000;
  border-bottom-color:#000 
}

.mllHeader {
  color:white;
}

.nuLogo {
	max-height: 100px;
}

.navbar-brand {
	font-family: cursive;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgb(200, 45, 45);
}


.btn-dropbox {
    color: #black;
    background-color: rgb(200, 45, 45);
}

.btn-primary {
    color: #fff;
    background-color: rgb(200, 45, 45);
}

.panel-info>.panel-heading {
    color: maroon;
    background-color: #d29b9b;
    border-color: #af8585;
}

.panel-info {
    border-color: #af8585;
}

button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table{
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    border-color: black;
}

.table-responsive>.table {
    background-color: #ded4d4;
    border-color: black;
}

.table-hover>tbody>tr:hover {
	background-color: #ded4d4;
    border-color: black;
}

.table>thead {
	background-color: black;
	color: maroon;
	border-color: black;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: black;
}

.pad-30 {
	padding: 30px;
}

.headingcolor{
  color:black;
}