<h1 style="text-align: center;"> {{ctrl.name}}</h1>
	<div style="text-align: center;"><button ng-click="ctrl.track()"  class="tomatobttn addmoresongs"> Add Songs</button></div>
<div ng-show="ctrl.playlistExist">
	<table
		class="table table-responsive table-striped table-hover ng-scope">
		<thead>
			<tr>
				<th
					ng-click="ctrl.sortType='track'; ctrl.sortReverse = !ctrl.sortReverse">
					<span ng-show="ctrl.sortType == 'track'"> <span
						ng-show="!ctrl.sortReverse"
						class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
						<span ng-show="ctrl.sortReverse"
						class="glyphicon glyphicon-triangle-bottom"></span></span> Track
				</th>
				<th
					ng-click="ctrl.sortType='dateAdded'; ctrl.sortReverse = !ctrl.sortReverse">
					<span ng-show="ctrl.sortType == 'dateAdded'"> <span
						ng-show="!ctrl.sortReverse"
						class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
						<span ng-show="ctrl.sortReverse"
						class="glyphicon glyphicon-triangle-bottom"></span></span> Date Added
				</th>
				<th ng-show="ctrl.deleteSongBoolean" >
					<span ng-show="ctrl.sortType == 'playCount'"> <span
						ng-show="!ctrl.sortReverse"
						class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
						<span ng-show="ctrl.sortReverse"
						class="glyphicon glyphicon-triangle-bottom"></span></span> Delete
				</th>
			</tr>
		</thead>
		<tbody>

			<tr ng-repeat="track in ctrl.tracks">
				<td>				 
					<a class="gridColor">
							{{track.fileName}} <br />
					</a> 
					<audio src={{track.source}} controls>
					</audio>
				</td>
				<td>
					{{track.dateAdded}}
				</td>
				<td ng-show="ctrl.deleteSongBoolean">
					<a ng-click="ctrl.deleteSong(track.assetId)" class="btn btn-info btn-sm"
						style="position: relative !important; top: -10px !important;">
							<span class="glyphicon glyphicon-trash"></span> Remove
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-show="!ctrl.playlistExist">
	<h2 style="text-align: center;">Your playlist is empty</h2>

</div>




