<div>
    <div class="col-xs-10 col-xs-offset-1 well">
        <h3 class="text-center no-margin">Registration</h3>
    </div>

    <form name="ctrl.registrationForm" class="form-horizontal" novalidate>
        <div class="form-group has-feedback"
             ng-class="{ 'has-success': ctrl.registrationForm.username.$valid && ctrl.registrationForm.$submitted,
                         'has-error': ctrl.registrationForm.username.$invalid && ctrl.registrationForm.$submitted }">
             <div class="col-xs-10 col-xs-offset-1">
                 <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                     <input type="text" name="username" class="form-control" ng-model="ctrl.data.userName"
                            placeholder="User Name" required />
                 </div>

                <div class="alert alert-danger" role="alert"
                     ng-show="ctrl.registrationForm.username.$invalid && ctrl.registrationForm.$submitted">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span ng-show="ctrl.registrationForm.username.$error.required">
                        Please, provide a user name!
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group has-feedback"
             ng-class="{ 'has-success': ctrl.registrationForm.email.$valid && ctrl.registrationForm.$submitted,
                         'has-error': ctrl.registrationForm.email.$invalid && ctrl.registrationForm.$submitted }">
             <div class="col-xs-10 col-xs-offset-1">
                 <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                     <input type="email" name="email" class="form-control" ng-model="ctrl.data.emailId"
                            placeholder="Email Address" required />
                 </div>
                <div class="alert alert-danger" role="alert"
                     ng-show="ctrl.registrationForm.email.$invalid && ctrl.registrationForm.$submitted">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span ng-show="ctrl.registrationForm.email.$error.required">
                        Please, provide an email address!
                    </span>
                    <span ng-show="ctrl.registrationForm.email.$error.email">
                        Please, provide a valid email address!
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <div class="form-group has-feedback"
                     ng-class="{ 'has-success': ctrl.registrationForm.password.$valid && ctrl.registrationForm.$submitted,
                                 'has-error': ctrl.registrationForm.password.$invalid && ctrl.registrationForm.$submitted }">
                     <div class="col-xs-12">
                         <div class="input-group">
                             <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                             <input type="password" name="password" class="form-control" ng-model="ctrl.data.password"
                                    placeholder="Password" ng-minlength="8" required />
                         </div>
                         <div class="alert alert-danger" role="alert"
                              ng-show="ctrl.registrationForm.password.$invalid && ctrl.registrationForm.$submitted">
                             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             <span ng-show="ctrl.registrationForm.password.$error.required">
                                 Please, provide a password!
                             </span>
                             <span ng-show="ctrl.registrationForm.password.$error.minlength">
                                 Please, provide a password that consists from, at least, 8 symbols!
                             </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="form-group has-feedback"
                     ng-class="{ 'has-success': ctrl.registrationForm.confPassword.$valid && ctrl.registrationForm.$submitted,
                                 'has-error': ctrl.registrationForm.confPassword.$invalid && ctrl.registrationForm.$submitted }">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" name="confPassword" class="form-control" ng-model="ctrl.data.confPassword"
                                   placeholder="Password Confirmation" ng-minlength="8" required
                                   mll-input-match="ctrl.data.password" />
                        </div>
                        <div class="alert alert-danger" role="alert"
                             ng-show="ctrl.registrationForm.confPassword.$invalid && ctrl.registrationForm.$submitted">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                             <span ng-show="ctrl.registrationForm.confPassword.$error.required">
                                 Please, provide a password confirmation!
                             </span>
                             <span ng-show="ctrl.registrationForm.confPassword.$error.minlength">
                                 Please, provide a password confirmation that consists from, at least, 8 symbols!
                             </span>
                            <span ng-show="ctrl.registrationForm.confPassword.$error.inputmatch">
                                 Please, provide a password confirmation that matches your password!
                             </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="alert alert-danger" role="alert" ng-show="ctrl.registrationForm.$serverError">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span ng-bind="ctrl.errorMessage"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <button  class="btn btn-primary btn-block" ng-click="ctrl.register()">Register</button>
            </div>
        </div>

    </form>
</div>