
<div class="container-fluid" align="center">
    <h1 class="page-header">{{ctrl.user.details.firstName}}&nbsp;{{ctrl.user.details.lastName}}&nbsp;</h1>

    <br/>
    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-circle img-responsive"> 
    </div>
    <div class=" col-md-9 col-lg-9 "> 
        <table class="table table-user-information">
            <tbody>
                <tr>
                    <td>Username: </td>
                    <td>{{ctrl.user.details.username}} </td>
                </tr>
                <tr>
                    <td>First Name: </td>
                    <td>{{ctrl.user.details.firstName}}</td>
                </tr>
                <tr>
                    <td>Last Name: </td>
                    <td>{{ctrl.user.details.lastName}}</td>
                </tr>
                <tr>
                    <td>Primary Phone: </td>
                    <td>{{ctrl.user.details.primaryPhone}}</td>
                </tr>
                <tr>
                    <td>Secondary Phone: </td>
                    <td>{{ctrl.user.details.secondaryPhone}}</td>
                </tr>
                <tr>
                    <td>Primary Email: </td>
                    <td>{{ctrl.user.details.primaryEmail}}</td>
                </tr>
                <tr>
                    <td>Secondary Email: </td>
                    <td>{{ctrl.user.details.secondaryEmail}}</td>
                </tr>
                <tr>
                    <td>Contribution: </td>
                    <td>{{ctrl.user.details.contribution}}</td>
                </tr>
                <tr>
                    <td>Ownership (%): </td>
                    <td>{{ctrl.user.details.ownershipPercent}}%</td>
                </tr>
                <tr>
                    <td>Role: </td>
                    <td>{{ctrl.user.details.musicianRole}}</td>
                </tr>
                <tr>
                    <td>BANDS: </td>
                    <td>
                        <ul ng-repeat="band in ctrl.user.bands">
                            <li>{{band}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    <div class="form-horizontal col-md-9 col-lg-9">
        <div class="form-group">
            <label class="col-sm-2 control-label label-left">Username&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.username}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label-left">First Name&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.firstName}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label label-left">Last Name&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.lastName}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Primary Phone&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.primaryPhone}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Secondary Phone&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.secondaryPhone}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Primary Email&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.primaryEmail}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Secondary Email&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.secondaryEmail}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Contribution&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.contribution}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Ownership (%)&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.ownershipPercent}}%
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Role&nbsp;</label>
            <div id="profileDetails" class="col-sm-7">
                {{ctrl.user.details.musicianRole}}
            </div>
        </div>
        <div class="form-group" ng-show="ctrl.user.bands">
            <label class="col-sm-2 control-label">BANDS</label>
            <ul ng-repeat="band in ctrl.user.bands">
                <li>{{band}}</li>
            </ul>
        </div>
    </div>
    -->
</div>

        