<div>
	<div class="row pad-30">
		<form class="col-sm-10 col-xs-offset-1" id="search">
			<div class="input-group input-group-search search-group">
				<input class="textSearch" type="text" name="search"
					placeholder="Search.." ng-model="ctrl.searchTitle" required>
				<button ng-click="ctrl.search(ctrl.searchTitle)"
					class="btn-search btn-primary">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Search
				</button>
				<input type="hidden" name="mode" value="web" />
			</div>
		</form>
	</div>


	<div class="row">
		<!-- Displays an error message -->
		<div ng-show="ctrl.failureMessage" class="alert alert-danger"
			role="alert">{{ctrl.failureMessage}}</div>
		<div ng-show="ctrl.successMessage" class="alert alert-success"
			role="alert">{{ctrl.successMessage}}</div>

		<table ng-show="ctrl.data.tracks" 
			class="table table-responsive table-striped table-hover table-fill ng-scope">
			<thead>
				<tr>
					<th class="text-center"
						ng-click="ctrl.sortType='track'; ctrl.sortReverse = !ctrl.sortReverse">
						<span ng-show="ctrl.sortType == 'track'"> <span
							ng-show="!ctrl.sortReverse"
							class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
							<span ng-show="ctrl.sortReverse"
							class="glyphicon glyphicon-triangle-bottom"></span></span> Track
					</th>
					<th class="text-center"
						ng-click="ctrl.sortType='playCount'; ctrl.sortReverse = !ctrl.sortReverse">
						<span ng-show="ctrl.sortType == 'playCount'"> <span
							ng-show="!ctrl.sortReverse"
							class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
							<span ng-show="ctrl.sortReverse"
							class="glyphicon glyphicon-triangle-bottom"></span></span> Play Count
					</th>
					<th class="text-center"
						ng-click="ctrl.sortType='dateAdded'; ctrl.sortReverse = !ctrl.sortReverse">
						<span ng-show="ctrl.sortType == 'dateAdded'"> <span
							ng-show="!ctrl.sortReverse"
							class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
							<span ng-show="ctrl.sortReverse"
							class="glyphicon glyphicon-triangle-bottom"></span></span> Date Added
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<tr
					ng-repeat="track in ctrl.data.tracks | orderBy:ctrl.sortType:ctrl.sortReverse"
					class="ng-scope">
					<td id="songTitle" class="text-left"><a
						ng-click="isCollapsed = !isCollapsed"> <b>{{track.Title}}
						</b><br />
					</a> <audio src={{track.source}} controls>
						</audio> <br />
						<div class="container-fluid" ng-show="isCollapsed && !isEditable">
							<section ng-show="isCollapsed">
								<p>
									<b> Title: </b> {{track.Title}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> File Name: </b> {{track.fileName}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Owner: </b> {{track.owner}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Writer: </b> {{track.OwnerShipInfo.WRITER[0].Name}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Copyright Number: </b> {{track.copyright_number}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Primary Genre: </b> {{track.primary_genre}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Secondary Genre: </b> {{track.secondary_genre}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Beats Per Minute: </b> {{track.beats_per_minute}}
								</p>
							</section>

							<section ng-show="isCollapsed && !isEditable">
								<p>
									<b> Publishing Company: </b> {{track.publishing_company}}
								</p>
							</section>

							<a ng-click="isEditable = !isEditable" class="btn btn-sm btn-warning" type="button"> <b>EDIT</b><br />
							</a>
						</div>
						<div class="container-fluid" ng-show="isEditable && isCollapsed">
							<form role="form" class="form-horizontal">
								<div class="form-group">
									<label for="inputTitle" class="ontrol-label">Title:
									</label>
									</br>
									<div>
										<input type="text" ng-model="track.Title" class="form-control"
											id="inputTitle" placeholder="Title">
									</div>
								</div>

								<div class="form-group">
									<label for="inputfileName" class="control-label">File
										Name: </label>
									</br>
									<div>
										<input type="text" ng-model="track.fileName"
											class="form-control" id="inputfileName"
											placeholder="File Name">
									</div>
								</div>

								<div class="form-group">
									<label for="inputOwner" class="control-label">Owner:
									</label>
									</br>
									<div>
										<input type="text" ng-model="track.owner" class="form-control"
											id="inputOwner" placeholder="Owner">
									</div>
								</div>

								<div class="form-group">
									<label for="inputWriter" class="control-label">Writer:
									</label>
									<div>
										<input type="text" ng-model="track.OwnerShipInfo.WRITER[0].Name"
											class="form-control" id="inputWriter" placeholder="Writer">
									</div>
								</div>

								<div class="form-group">
									<label for="inputCopyrightNum" class="control-label">Copyright
										Number: </label>
										</br>
									<div>
										<input type="text" ng-model="track.copyright_number"
											class="form-control" id="inputCopyrightNum"
											placeholder="Copyright Number">
									</div>
								</div>

								<div class="form-group">
									<label for="inputPrimaryGenre" class="control-label">Primary
										Genre: </label>
									<div>
										<input type="text" ng-model="track.primary_genre"
											class="form-control" id="inputPrimaryGenre"
											placeholder="Primary Genre">
									</div>
								</div>

								<div class="form-group">
									<label for="inputSecondaryGenre" class="control-label">Secondary
										Genre: </label>
									<div>
										<input type="text" ng-model="track.secondary_genre"
											class="form-control" id="inputSecondaryGenre"
											placeholder="Secondary Genre">
									</div>
								</div>

								<div class="form-group">
									<label for="inputBPM" class="control-label">Beats
										Per Minute: </label>
									<div>
										<input type="text" ng-model="track.beats_per_minute"
											class="form-control" id="inputBPM"
											placeholder="Beats Per Minute">
									</div>
								</div>

								<div class="form-group">
									<label for="inputPublishCompany" class="control-label">Publishing
										Company: </label>
									<div>
										<input type="text" ng-model="track.publishing_company"
											class="form-control" id="inputPublishCompany"
											placeholder="Publishing Company">
									</div>
								</div>
							</form>
							<a href="" class="btn btn-info" ng-click="ctrl.editSong(track) "> <!-- && isEditable = !isEditable -->
								<span class="glyphicon incrsize">SAVE</span>
						</div></td>
					<td class="text-left">0</td>
					<td class="text-left">{{track.dateAdded}}</td>
					<td><a href="" class="btn btn-danger"
						ng-click="ctrl.deleteSong(track.assetId)"> <span
							class="glyphicon glyphicon-remove incrsize"></span>
					</a> </a></td>
				</tr>
			</tbody>
		</table>
		<br/>
	</div>
</div>
