<nav class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li><a ng-click="ctrl.home()" ng-class="{'active': $location.url() == '/home/user/profile/id/21'}">Home <span class="sr-only"> Home of UCB App</span></a></li>
        <li><a ng-click="ctrl.invite()">Invite</a></li>
        <li><a ng-click="ctrl.track()" ng-class="{'active': $location.url() == '/track'}">Track</a></li>		
		 <li><a ng-click="ctrl.about()">About</a></li>	
    </ul>
</nav>